.box {
	background: url(../img/back.jpg) repeat-y center;
	background-size: auto; 
	padding: 3% 20% 2%;
	overflow: auto;
}

.catalog li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
	margin-bottom: 1%;
	margin-right: 1%;

}

.catalog img {
  display: block;
  border: 4px groove #9d9d9d;
  border-radius: 3px;

}

/*.logo {
	margin-left: 2%;
}*/

.line {
	margin-top: 5%;
	display: block;
}

a {
	text-decoration: none;
	color: white;
	font: italic;
	font-size: 20px;
}

p {
	margin-top: 15%;
	text-align: center;
	color: white;
	font-size: 14px;
}

.info {
	color: white;
	float: right;
	margin-top: 8%;
	margin-right: 5%;
	font-size: 14px;
	font: sans-serif;
}

a:hover {
	text-decoration: underline; 
}
